/* * {
  outline: 1px solid black;
} */
@media screen and (max-width: 800px) {
  .Project_slide {
    width: 55%;
    height: 32%;
  }
  .burgerMenu {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .Tim_Photo_and_Tim_photo_text {
    padding-left: 60px;
  }
  .initial {
    left: 20px;
  }
  .Im_Tim {
    padding-left: 40px;
  }
}
@media screen and (max-width: 700px) {
  .preview {
    transform: scale(0.6);
  }
  .Tim_Photo_and_Tim_photo_text {
    padding-left: 40px;
  }
  .initial {
    left: 0px;
  }
  .nav_btn {
    margin: 10px 10px 0px 10px;
  }
  .initial {
    font-weight: 700;
    line-height: 60px;
    left: 15px;
  }
  .Im_Tim {
    padding-left: 15px;
  }
}
@media screen and (max-width: 650px) {
  .initial {
    left: 5px;
  }
  .Tim_Photo_and_Tim_photo_text {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 600px) {
  .initial {
    display: none;
  }
  .nav_btn_desc {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .initial {
    display: none;
  }
  .preview {
    transform: scale(0.7);
  }
  .Project_slide {
    width: 72%;
    height: 31%;
  }
  .Tim_Photo_and_Tim_photo_text {
    padding-left: 5px;
  }
  .Im_Tim {
    padding-left: 25px;
  }
}
@media screen and (max-width: 550px) {
  .About_Tim {
    transform: scale(0.9);
  }
  .preview {
    transform: scale(0.6);
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 500px) {
  .initial {
    display: none;
  }
  .nav_btn_desc {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .preview {
    transform: scale(0.5);
    flex-wrap: nowrap;
  }
  .nav_btn {
    width: 120px;
    height: 30px;
  }
  main {
    height: 400px;
  }
  .Project_slide {
    width: 60%;
    height: 21%;
  }
  .cago {
    display: none;
  }
  .About_Tim {
    transform: scale(0.8);
  }
  .Im_Tim {
    padding-left: 0px;
  }
  footer {
    margin-top: 1205px;
  }
}
@media screen and (max-width: 400px) {
  .burgerMenu {
    display: block;
  }
  .initial {
    display: none;
  }
  .nav_btn_desc {
    display: none;
  }
  main {
    height: 350px;
  }
  .Project_slide {
    width: 60%;
    height: 21%;
  }
  header {
    height: 50px;
  }
  .fix {
    display: none;
  }
  .project {
    height: 450px;
  }
  .About_Tim {
    transform: scale(0.75);
  }
  footer {
    margin-top: 948px;
  }
  .Im_Tim {
    transform: scale(0.7);
  }
  .About_me {
    background-position-x: -500px;
    display: flex;
    background-image: url(assets/Group216.svg);
    height: 600px;
    background-position-y: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
  }
}
